[hyoo_search_body] {
	padding: 0;
}

[hyoo_search_result_item] {
	padding: var(--mol_gap_block);
}

[hyoo_search_result_image] {
	width: 3rem;
	height: 3rem;
	margin: var(--mol_gap_block);
	background: var(--mol_theme_line);
	flex: none;
}

[hyoo_search_result_info] {
	flex: 1 1 auto;
}

[hyoo_search_result_title] {
	margin: var(--mol_gap_text);
	/* text-shadow: 0 0; */
}

[hyoo_search_result_descr] {
	margin: var(--mol_gap_text);
	color: var(--mol_theme_text);
}

[hyoo_search_foot] {
	padding: var(--mol_gap_block);
}
