[hyoo_search_main] {
	flex: 1 0 40rem;
}
	
[hyoo_search_settings] {
	flex: 0 0 25rem;
}
	
[hyoo_search_main_body] {
	padding: 0;
}

[hyoo_search_settings_body] {
	padding: 0;
}
	
[hyoo_search_result_item] {
	padding: .75rem;
}

[hyoo_search_result_image] {
	width: 2.5rem;
	height: 2.5rem;
	margin: .75rem;
	flex: none;
}

[hyoo_search_result_info] {
	flex: 1 1 auto;
}

[hyoo_search_result_main] {
	flex-wrap: nowrap;
}

[hyoo_search_result_title] {
	padding: 0 .75rem;
	align-self: center;
}

[hyoo_search_result_descr] {
	color: var(--mol_theme_text);
	margin: var(--mol_gap_text);
}

[hyoo_search_main_foot] {
	padding: var(--mol_gap_block);
}

[hyoo_search_settings_fields] > * {
	margin: var(--mol_gap_block);
}
