<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription
	xmlns="http://a9.com/-/spec/opensearch/1.1/"
	>
	<ShortName>$hyoo_search</ShortName>
	<LongName>$hyoo_search</LongName>
	<Description>User-friendly web Search from $hyoo_team</Description>
	<InputEncoding>UTF-8</InputEncoding>
	<Image width="16" height="16" type="image/svg+xml">../../../hyoo/search/logo/logo.svg</Image>
	<Url type="text/html" template="https://search.hyoo.ru/#!query={searchTerms}" />
	<Url type="application/x-suggestions+json" template="https://suggest.yandex.ru/suggest-ff.cgi?part={searchTerms}"/>
	<Query role="example" searchTerms="$mol" />
	<Contact>search@hyoo.ru</Contact>
	<Developer>$hyoo_team</Developer>
</OpenSearchDescription>
