[hyoo_search_app_main] {
	flex: 0 0 40rem;
}

[hyoo_search_app_sideview] {
	flex: 1 0 40rem;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	z-index: 2;
}

[hyoo_search_app_settings] {
	flex: 0 0 25rem;
}

[hyoo_search_app_main_body] {
	flex: 0 1 auto;
	padding: 0;
}
	
[hyoo_search_app_settings_body] {
	padding: 0;
}
	
[hyoo_search_app_result_item] {
	margin: var(--mol_gap_block);
	padding: 0;
}

[hyoo_search_app_result_image] {
	width: 2.5rem;
	height: 2.5rem;
	flex: none;
	margin: var(--mol_gap_block);
}

[hyoo_search_app_result_info] {
	flex: 1 1 auto;
	padding-bottom: .5rem;
}

[hyoo_search_app_result_main] {
	flex: 1 1 auto;
	padding: .5rem 0;
}

[hyoo_search_app_result_title] {
	color: var(--mol_theme_text);
	text-shadow: 0 0;
	flex: 1 1 20rem;
}

[hyoo_search_app_result_descr] {
	padding: 0 .75rem;
	color: var(--mol_theme_text);
}

[hyoo_search_app_main_foot] {
	padding: var(--mol_gap_block);
}

[hyoo_search_app_settings_fields] > * {
	margin: var(--mol_gap_block);
}

[hyoo_search_app_result_title_low] {
	opacity: 1;
}

[hyoo_search_app_result_descr_low] {
	opacity: 1;
}

[hyoo_search_app_result_host_low] {
	opacity: 1;
}

[hyoo_search_app_result_list_empty] {
	padding: var(--mol_gap_text);
	margin: var(--mol_gap_block);
}

[hyoo_search_app_attribution] {
	padding: var(--mol_gap_text);
	margin: var(--mol_gap_block);
}

[hyoo_search_app_result_ban_option_label] {
	text-align: right;
}
