[hyoo_search_app_main] {
	flex: 1 0 40rem;
}

[hyoo_search_app_sideview] {
	flex: 10000 0 40rem;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	z-index: 2;
	background: white;
}

[hyoo_search_app_sideview_hint] {
	flex: 1 1 auto;
	padding: 0 .25rem;
	font-size: .75rem;
	justify-content: center;
}

[hyoo_search_app_sideview_embed] {
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 100%;
	aspect-ratio: auto;
	border-radius: 0;
	background: transparent;
}

[hyoo_search_app_settings] {
	flex: 0 0 25rem;
}

[hyoo_search_app_main_body] {
	flex: 0 1 auto;
	padding: 0;
}
	
[hyoo_search_app_settings_body] {
	padding: 0;
}
	
[hyoo_search_app_result_item] {
	padding: 0;
}

[hyoo_search_app_result_image] {
	flex: 1 0 6rem;
	max-height: 6rem;
	object-fit: scale-down;
}

[hyoo_search_app_result_info] {
	flex: 1 1 auto;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

[hyoo_search_app_result_main] {
	flex: 10000 1 14rem;
}

[hyoo_search_app_result_title] {
	color: var(--mol_theme_text);
	text-shadow: 0 0;
}

[hyoo_search_app_result_descr] {
	color: var(--mol_theme_text);
}

[hyoo_search_app_main_foot] {
	padding: var(--mol_gap_block);
}

[hyoo_search_app_settings_fields] {
	padding: var(--mol_gap_block);
}

[hyoo_search_app_settings_fields] > * {
	margin: var(--mol_gap_block);
}

[hyoo_search_app_result_title_low] {
	opacity: 1;
}

[hyoo_search_app_result_descr_low] {
	opacity: 1;
}

[hyoo_search_app_result_host_low] {
	opacity: 1;
}

[hyoo_search_app_result_list] {
	padding: var(--mol_gap_block);
}

[hyoo_search_app_result_list_empty] {
	padding: var(--mol_gap_text);
	margin: var(--mol_gap_block);
}

[hyoo_search_app_attribution] {
	padding: var(--mol_gap_text);
	margin: var(--mol_gap_block);
}

[hyoo_search_app_result_ban_option_label] {
	text-align: right;
}
